# Electron Builder 镜像配置
electron-builder-binaries_mirror=https://cdn.npmmirror.com/binaries/electron-builder-binaries/

# npm 镜像配置
registry=https://registry.npmmirror.com/

# 性能优化配置
loglevel=info
fund=false
audit=false
prefer-offline=true